.box1{
    height: 100px;
    width: 100px;
}

.box2{
    height: 200px;
    width: 200px;
}

.box3{
    height: 300px;
    width: 300px;
}

.box4{
    height: 400px;
    width: 400px;
}

.box5{
    height: 500px;
    width: 500px;
}

.he1{
    height: 100px;
}

.wi1{
    width: 100px;
}

.he2{
    height: 200px;
}

.wi2{
    width: 200px;
}

.he3{
    height: 300px;
}

.wi3{
    width: 300px;
}

.he4{
    height: 400px;
}

.wi4{
    width: 400px;
}

.he5{
    height: 500px;
}

.wi5{
    width: 500px;
}

.orange{
    background-color: orange;
}

.blue{
    background: #3c3cef;
}

.red{
    background: red;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}

.pink{
    background: pink;
}

.black{
    background: #000;
}

.white{
    background: rgb(255, 255, 255);
}

.border{
    border: 1px solid grey;
}

.border2{
    border: 5px solid black;
}

.border3{
    border: 10px solid black;
}

.ari{
    font-family: Arial;
}

.curs{
    font-family: cursive;
}

.lg-font{
    font-size: 40px;
}

.md-font{
    font-size: 30px;
}

.sm-font{
    font-size: 20px;
}

.esm-font{
    font-size: 10px;
}

.fm-orange{
    background-color: orange;
}

.fm-blue{
    color: #3c3cef;
}

.fm-red{
    color: red;
}

.fm-yellow{
    color: yellow;
}

.fm-green{
    color: green;
}

.fm-pink{
    color: pink;
}

.fm-black{
    color: #000;
}

.fm-white{
    color: rgb(255, 255, 255);
}

.ma5{
    margin: 50px;
}

.pa5{
    padding: 50px;
}

.ma4{
    margin: 40px;
}

.pa4{
    padding: 40px;
}

.ma3{
    margin: 30px;
}

.pa3{
    padding: 30px;
}

.ma2{
    margin: 20px;
}

.pa2{
    padding: 20px;
}

.ma1{
    margin: 10px;
}

.pa1{
    padding: 10px;
}

.mat5{
    margin-top: 50px;
}

.pat5{
    padding-top: 50px;
}

.mat4{
    margin-top: 40px;
}

.pat4{
    padding-top: 40px;
}

.mat3{
    margin-top: 30px;
}

.pat3{
    padding-top: 30px;
}

.mat2{
    margin-top: 20px;
}

.pat2{
    padding-top: 20px;
}

.mat1{
    margin-top: 10px;
}

.pat1{
    padding-top: 10px;
}

.mab5{
    margin-bottom: 50px;
}

.pab5{
    padding-bottom: 50px;
}

.mab4{
    margin-bottom: 40px;
}

.pab4{
    padding-bottom: 40px;
}

.mab3{
    margin-bottom: 30px;
}

.pab3{
    padding-bottom: 30px;
}

.mab2{
    margin-bottom: 20px;
}

.pab2{
    padding-bottom: 20px;
}

.mab1{
    margin-bottom: 10px;
}

.pab1{
    padding-bottom: 10px;
}

.mal5{
    margin-left: 50px;
}

.pal5{
    padding-left: 50px;
}

.mal4{
    margin-left: 40px;
}

.pal4{
    padding-left: 40px;
}

.mal3{
    margin-left: 30px;
}

.pal3{
    padding-left: 30px;
}

.mal2{
    margin-left: 20px;
}

.pal2{
    padding-left: 20px;
}

.mal1{
    margin-left: 10px;
}

.pal1{
    padding-left: 10px;
}

.mar5{
    margin-right: 50px;
}

.par5{
    padding-right: 50px;
}

.mar4{
    margin-right: 40px;
}

.par4{
    padding-right: 40px;
}

.mar3{
    margin-right: 30px;
}

.par3{
    padding-right: 30px;
}

.mar2{
    margin-right: 20px;
}

.par2{
    padding-right: 20px;
}

.mar1{
    margin-right: 10px;
}

.par1{
    padding-right: 10px;
}

.center-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
